/*
Couleur du projet:
bleu #0065FC
bleu claire #DEEBFF
gris #F2F2F2
*/


body, header, h1, h2, h3, h4, h5, h6, ul, li, form, input, i, p, img{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

.wrapper{
    margin: 0 auto;
}

/*  HEADER  */

@media screen and (min-width: 768px){

    .wrapper{
        width: 1440px;
    }

    @media screen and (max-width: 1439px){
        .wrapper{
            width: 100%;
        }
    }

    header{
        height: 90px;
        display: flex;
        color: black;
    }

    img{
        margin-top: 45px;
        margin-left: 50px;
    }

    header ul{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        font-size: 14px;
    }

    header ul li{
        margin: 0 11px;
        padding: 48px 22px 0 22px;
        border-top: 2px solid transparent;
    }

    header ul li.active{
        border-color: #0065FC;
    }

    header ul li.active a{
        color: #0065FC;
    }

    header a{
        text-decoration: none;
        color: black;
    }

    header .sign-in{
        margin-right: 77px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 33px;
        color: #0065FC;
    }
}


@media screen and (max-width: 767px){
    .wrapper{
        width: 100%;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header img{
        margin-left: 20px;
        margin-top: 25px;
    }

    header ul{
        grid-row: 2;
        grid-column: 1 / span 2;
        display: flex;
        list-style: none;
        margin-top: 50px;
    }

    header ul li{
        flex: 1;
        text-align: center;
        font-size: 14px;
        padding-bottom: 16px;
        border-bottom: 3px solid #f2f2f2;
    }

    header ul li.active{
        border-color: #0065FC;
    }

    .sign-in{
        text-align: right;
        margin-right: 20px;
        margin-top: 42px;
        font-size: 15px;
        text-decoration: none;
        color: #0065FC;
    }

    header ul li a{
        text-decoration: none;
        color: black;
    }

    header ul li.active a{
        color: #0065FC;
    }
}

/*  SearchBar   */

@media screen and (min-width: 768px){
    #search{
        padding: 0 55px;
        margin-top: 40px;
    }

    #search h3{
        font-size: 19px;
    }

    #search>p:nth-child(2){
        font-size: 15px;
        margin-top: 14px;
    }

    #search form{
        display: flex;
        margin-top: 20px;
    }

    #search form i{
        height: 50px;
        width: 50px;
        border-radius: 13px 0 0 13px;
        border: 1px solid #f2f2f2;
        background-color: #f2f2f2;
        font-size: 18px;
        text-align: center;
        line-height: 48px;
    }

    #search form input:nth-child(2){
        height: 50px;
        padding-left: 16px;
        width: 218px;
        font-size: 18px;
        border: 1px solid #f2f2f2;
    }

    #search form button{
        height: 52px;
        width: 134px;
        border-radius: 0 13px 13px 0;
        color: #fff;
        margin-top: 1px;
        background-color: #0065FC;
        font-size: 18px;
        border: 1px solid #0065FC;
    }

    #search form button:after{
        content: 'Rechercher';
    }

    #search .filtre {
        margin-left: 8px;
        margin-top: 25px;
        display: flex;
        align-items: center;
    }

    #search .filtre p:nth-child(1){
        margin-right: 24px;
    }

    #search .filtre .filtre-icon{
        display: flex;
        flex-wrap: wrap;
    }

    #search .filtre .filtre-icon>div{
        display: flex;
        font-size: 16px;
        line-height: 50px;
        border: 1px solid #f2f2f2;
        border-radius: 30px;
        margin: 5px 12px;
    }

    #search .filtre .filtre-icon>div i{
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #DEEBFF;
        border-radius: 50%;
        color: #0065FC;
    }

    #search .filtre .filtre-icon>div p{
        padding: 0 22px 0 13px;
    }

    #search p:nth-child(5){
        font-size: 15px;
        margin-top: 35px;
    }

    #search p:nth-child(5) i{
        color: #0065FC;
        line-height: 24px;
        text-align: center;
        height: 24px;
        width: 24px;
        border: 1px solid #f2f2f2;
        border-radius: 50%;
        margin-right: 13px;
    }
}

@media screen and (max-width: 767px){
    #search {
        padding: 0 20px;
    }

    #search h3{
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 35px;
    }

    #search>p:nth-child(2){
        font-size: 14px;
    }

    #search form{
        display: flex;
        margin-top: 35px;
        border: 1px solid #f2f2f2;
        border-radius: 15px;
    }

    #search form i{
        height: 51px;
        width: 50px;
        border-radius: 13px 0 0 13px;
        background-color: #f2f2f2;
        font-size: 18px;
        text-align: center;
        line-height: 51px;
    }

    #search form input:nth-child(2){
        height: 50px;
        padding-left: 16px;
        flex: 1;
        font-size: 18px;
        border: none;
    }

    #search form button{
        height: 50px;
        font-family: 'font awesome', sans-serif;
        width: 52px;
        border-radius: 13px;
        color: #fff;
        margin-top: 1px;
        background-color: #0065FC;
        font-size: 18px;
        border: 1px solid #0065FC;
    }

    #search form button:after{
        font-family: 'fontawesome';
        content: '\f002';
    }

    #search .filtre {
        margin-top: 25px;
        align-items: center;
    }

    #search .filtre p:nth-child(1){
        margin-right: 24px;
    }

    #search .filtre .filtre-icon{
        display: flex;
        flex-wrap: wrap;
    }

    #search .filtre .filtre-icon>div{
        display: flex;
        font-size: 16px;
        line-height: 50px;
        border: 1px solid #f2f2f2;
        border-radius: 30px;
        margin: 5px 10px 5px 0;
    }

    #search .filtre .filtre-icon>div i{
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #DEEBFF;
        border-radius: 50%;
        color: #0065FC;
    }

    #search .filtre .filtre-icon>div p{
        padding: 0 22px 0 13px;
    }

    #search p:nth-child(5){
        font-size: 15px;
        margin-top: 35px;
    }

    #search p:nth-child(5) i{
        color: #0065FC;
        line-height: 24px;
        text-align: center;
        height: 24px;
        width: 24px;
        border: 1px solid #f2f2f2;
        border-radius: 50%;
        margin-right: 13px;
    }
}

/*  PropositionContainer    */

@media screen and (min-width:1440px){

    #proposition{
    display: grid;
    grid-template-columns: 880px 420px;
    gap: 40px;
    grid-template-rows: 625px;
    margin: 35px 50px 0 50px;
    }

    /*hebergements*/

    #hebergement{
        background-color: #f2f2f2;
        padding: 0 40px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
    }

    #hebergement>h3{
        font-size: 18px;
        margin-top: 48px;
    }

    #hebergement .proposition-ville{
        margin-top: 30px;
        flex: 1;
        margin-bottom: 43px;
        display: grid;
        grid-template-columns: repeat(3, 246px);
        gap: 31px;
    }

    #hebergement .proposition-ville .proposition-info{
        border-radius: 17px;
        background-color: #fff;
        padding: 5px;
    }

    #hebergement .proposition-ville .proposition-info .info{
        margin-left: 10px;
    }

    #hebergement .proposition-ville .proposition-info .image{
        height: 114px;
        width: 236px;
        border-radius: 12px 12px 0 0;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(1) .image{
        background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(2) .image{
        background: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(3) .image{
        background: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(4) .image{
        background: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') 0px -53px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(5) .image{
        background: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(6) .image{
        background: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') 0px -115px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info h4{
        font-size: 13px;
        margin: 10px 0;
    }

    #hebergement .proposition-ville .proposition-info p:nth-child(2){
        font-size: 12px;
    }

    #hebergement .proposition-ville .proposition-info p:nth-child(3){
        font-size: 13px;
        margin-top: 10px;
        color: #0065FC;
    }

    #hebergement>p{
        font-size: 15px;
        margin-bottom: 48px;
    }

    /*populaire*/

    #populaire{
        background-color: #f2f2f2;
        border-radius: 18px;
        padding: 45px 40px 33px 37px;
    }

    #populaire .titre{
        font-size: 18px;
        display: flex;
        margin-bottom: 29px;
        flex-wrap: wrap;
    }

    #populaire .titre h3{
        flex: 1;
    }

    #populaire .populaire-info{
        display: grid;
        height: 498px;
        grid-template-rows: repeat(3, 144px);
        gap: 33px;
    }

    #populaire .populaire-info .info-hotel{
        background-color: #fff;
        border-radius: 17px;
        display: flex;
        padding: 5px;
        border-radius: 13px;
    }

    #populaire .populaire-info .info-hotel .image{
        border-radius: 13px 0 0 13px;
    }

    #populaire .populaire-info .info-hotel:nth-child(1) .image{
        background: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') -40px -5px no-repeat;
        background-size: 210px;
    }

    #populaire .populaire-info .info-hotel:nth-child(2) .image{
        background: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') -40px -5px no-repeat;
        background-size: 210px;
    }

    #populaire .populaire-info .info-hotel:nth-child(3) .image{
        background: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') -0px -30px no-repeat;
        background-size: 130px;
    }

    #populaire .populaire-info .info-hotel .image{
        width: 127px;
        margin-right: 20px;
    }

    #populaire .populaire-info .info-hotel .info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px;
    }

    #populaire .populaire-info .info-hotel .info .info-nom{
        font-size: 14px;
        margin-top: 13px;
    }

    #populaire .populaire-info .info-hotel .info .info-prix{
        font-size: 13px;
        margin-top: 13px;
        flex: 1;
    }
    #populaire .populaire-info .info-hotel .info .info-note{
        font-size: 12px;
        color: #0065FC;
        margin-bottom: 9px;
    }
}

@media screen and (min-width: 768px) and (max-width:1439px){

    #proposition{
    display: flex;
    flex-direction: column;
    grid-template-rows: 625px;
    margin: 35px 100px 0 100px;
    }

    /*hebergements*/

    #hebergement{
        background-color: #f2f2f2;
        padding: 0 40px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
    }

    #hebergement>h3{
        font-size: 18px;
        margin-top: 48px;
    }

    #hebergement .proposition-ville{
        margin-top: 30px;
        flex: 1;
        margin-bottom: 43px;
        display: grid;
        gap: 33px 0;
        grid-template-columns: repeat(3, 246px);
        align-content: space-between;
        justify-content: space-between;
    }

    @media screen and (min-width:768px) and (max-width: 1030px){
        #hebergement .proposition-ville{
            margin-top: 30px;
            flex: 1;
            margin-bottom: 43px;
            display: grid;
            gap: 33px 0;
            grid-template-columns: repeat(2, 246px);
            align-content: space-between;
            justify-content: space-between;
        }
    }

    #hebergement .proposition-ville .proposition-info{
        border-radius: 17px;
        background-color: #fff;
        padding: 5px;
    }

    #hebergement .proposition-ville .proposition-info .info{
        margin-left: 10px;
    }

    #hebergement .proposition-ville .proposition-info .image{
        height: 114px;
        width: 236px;
        border-radius: 12px 12px 0 0;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(1) .image{
        background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(2) .image{
        background: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(3) .image{
        background: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(4) .image{
        background: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') 0px -53px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(5) .image{
        background: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') 0px -23px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(6) .image{
        background: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') 0px -115px no-repeat;
        background-size: 236px;
    }

    #hebergement .proposition-ville .proposition-info h4{
        font-size: 13px;
        margin: 10px 0;
    }

    #hebergement .proposition-ville .proposition-info p:nth-child(2){
        font-size: 12px;
    }

    #hebergement .proposition-ville .proposition-info p:nth-child(3){
        font-size: 13px;
        margin-top: 10px;
        color: #0065FC;
    }

    #hebergement>p{
        font-size: 15px;
        margin-bottom: 48px;
    }

    /*populaire*/

    #populaire{
        background-color: #f2f2f2;
        border-radius: 18px;
        padding: 45px 40px 33px 37px;
        margin-top: 30px;
    }

    #populaire .titre{
        font-size: 18px;
        display: flex;
        margin-bottom: 29px;
        flex-wrap: wrap;
    }

    #populaire .titre h3{
        flex: 1;
    }

    #populaire .populaire-info{
        display: grid;
        grid-template-columns: repeat(3, 246px);
        align-content: space-between;
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) and (max-width: 1030px){
        #populaire .populaire-info{
            display: grid;
            grid-template-columns: repeat(2, 246px);
            gap: 30px 0;
            align-content: space-between;
            justify-content: space-between;
        }
    }

    #populaire .populaire-info .info-hotel{
        background-color: white;
        border-radius: 18px;
        padding: 5px;
    }

    #populaire .populaire-info .info-hotel .image{
        height: 114px;
        width: 236px;
        border-radius: 12px 12px 0 0;
    }

    #populaire .populaire-info .info-hotel:nth-child(1) .image{
        background: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') 0 -40px no-repeat;
        background-size: 240px;
    }

    #populaire .populaire-info .info-hotel:nth-child(2) .image{
        background: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') 0 -40px no-repeat;
        background-size: 240px;
    }

    #populaire .populaire-info .info-hotel:nth-child(3) .image{
        background: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') 0 -160px no-repeat;
        background-size: 240px;
    }

    #populaire .populaire-info .info-hotel .info{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    #populaire .populaire-info .info-hotel h4{
        font-size: 13px;
        margin: 10px 0;
    }

    #populaire .populaire-info .info-hotel p:nth-child(2){
        font-size: 12px;
        flex: 1;
    }

    #proposition .populaire-info .info-hotel p:nth-child(3){
        font-size: 13px;
        margin-bottom: 5px;
        color: #0065FC;
    }

}

@media screen and (max-width: 768px){
    #proposition{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }

    /*proposition*/

    #populaire{
        background-color: #f2f2f2;
        padding: 0 20px;
    }

    #populaire .titre{
        display: flex;
        margin-top: 23px;
    }

    #populaire .titre h3{
        font-size: 18px;
        flex: 1;
    }

    #populaire .populaire-info{
        margin-top: 24px;
        margin-bottom: 31px;
        display: flex;
        flex-direction: column;
    }

    #populaire .populaire-info .info-hotel{
        flex: 1;
        height: 144px;
        background-color: white;
        margin: 5px 0;
        border-radius: 17px;
        display: flex;
        padding: 5px;
    }

    #populaire .populaire-info .info-hotel .image{
        width: 127px;
        height: 100%;
        background-color: red;
        border-radius: 13px 0 0 13px;
    }

    #populaire .populaire-info .info-hotel.info-hotel:nth-child(1) .image{
        background: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') -50px -5px no-repeat;
        background-size: 240px;
    }

    #populaire .populaire-info .info-hotel.info-hotel:nth-child(2) .image{
        background: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') -50px -5px no-repeat;
        background-size: 240px;
    }

    #populaire .populaire-info .info-hotel.info-hotel:nth-child(3) .image{
        background: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') -20px -50px no-repeat;
        background-size: 150px;
    }

    #populaire .populaire-info .info-hotel .info{
        margin-top: 9px;
        margin-left: 21px;
        display: flex;
        flex-direction: column;
    }

    #populaire .populaire-info .info-hotel .info .info-nom{
        font-size: 13px;
        margin-bottom: 10px;
    }

    #populaire .populaire-info .info-hotel .info .info-prix{
        font-size: 13px;
        flex: 1;
    }

    #populaire .populaire-info .info-hotel .info .info-note{
        font-size: 13px;
        margin-bottom: 10px;
        color: #0065FC;
    }

    /*hebergement*/

    #hebergement{
        background-color: #fff;
        padding: 20px;
        order: 1;
        display: flex;
        flex-direction: column;
    }

    #hebergement>h3{
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 24px;
    }

    #hebergement>p{
        margin-bottom: 40px;
        margin-top: 30px;
    }

    #hebergement .proposition-ville{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    #hebergement .proposition-ville .proposition-info{
        height: 208px;
        padding: 5px;
        flex: 1;
        margin: 10px 0;
        background-color: #fff;
        border-radius: 17px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px #f2f2f2;
    }

    #hebergement .proposition-ville .proposition-info .image{
        height: 114px;
        background-color: red;
        border-radius: 13px 13px 0 0;
        margin-bottom: 12px;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(1) .image{
        background: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') center no-repeat;
        background-size: 100%;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(2) .image{
        background: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') center no-repeat;
        background-size: 100%;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(3) .image{
        background: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') center no-repeat;
        background-size: 100%;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(4) .image{
        background: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') center no-repeat;
        background-size: 100%;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(5) .image{
        background: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') center no-repeat;
        background-size: 100%;
    }

    #hebergement .proposition-ville .proposition-info:nth-child(6) .image{
        background: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') center no-repeat;
        background-size: 100%;
    }

    #hebergement .proposition-ville .proposition-info .info{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-left: 10px;
    }

    #hebergement .proposition-ville .proposition-info .info .info-nom{
        font-size: 17px;
        margin-bottom: 5px;
    }

    #hebergement .proposition-ville .proposition-info .info .info-prix{
        font-size: 14px;
        flex: 1;
    }

    #hebergement .proposition-ville .proposition-info .info .info-note{
        font-size: 14px;
        margin-bottom: 5px;
        color: #0065FC;
    }
}

/*  Activité    */

@media screen and (min-width: 767px){
    #activité{
    
    }
    
    #activité h3{
        margin-left: 50px;
        margin-top: 50px;
    }
    
    #activité .activité-info{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    #activité .activité-info article{
        text-align: center;
        width: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 17px;
        box-shadow: 0 0 20px #c2c2c2;
    }
    
    #activité .activité-info article h4{
        height: 50px;
        line-height: 50px;
    }
    
    #activité .activité-info article .image{
        flex: 1;
        border-radius: 17px 17px 0 0;
    }
    
    #activité .activité-info>article{
        height: 445px;
    }

    #activité .activité-info>article, #activité .activité-info .activité-low{
        margin-bottom: 30px;
    }
    
    #activité .activité-info .activité-low{
        display: flex;
        height: 445px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #activité .activité-info .activité-low:nth-child(2) article:nth-child(1){
        height: 235px;
    }
    
    #activité .activité-info .activité-low:nth-child(2) article:nth-child(2){
        height: 165px;
    }
    
    #activité .activité-info .activité-low:nth-child(4) article:nth-child(1){
        height: 195px;
    }
    
    #activité .activité-info .activité-low:nth-child(4) article:nth-child(2){
        height: 208px;
    }
    
    #activité .activité-info>article:nth-child(1) .image{
        background: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') -210px 0 no-repeat;
    }
    
    #activité .activité-info>article:nth-child(3) .image{
        background: url('images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') -150px 0 no-repeat;
    }
    
    #activité .activité-info .activité-low:nth-child(2) article:nth-child(1) .image{
        background: url('images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') -30px -160px no-repeat;
    }
    
    #activité .activité-info .activité-low:nth-child(2) article:nth-child(2) .image{
        background: url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') 0 -10px no-repeat;
        background-size: 300px;
    }
    
    #activité .activité-info .activité-low:nth-child(4) article:nth-child(1) .image{
        background: url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') no-repeat;
        background-size: 320px;
    }
    
    #activité .activité-info .activité-low:nth-child(4) article:nth-child(2) .image{
        background: url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') no-repeat;
        background-size: 300px;
    }
}





